@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&display=swap');

:root {
    --font-padrão: 'oswald', Arial, Verdana, serif;
    --font-destaque: 'josefin sans', Arial, Verdana, serif;
    --font-destaque2: 'fira sans';

    --cor1: #034C8C;
    --cor2: #03588C;
    --cor3: #0378A6;
    --cor4: #A7E4F2;
    --cor5: #96D2D9;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor5);
    font-family: var(--font-padrão);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    text-align: center;
    min-height: 160px;
    position: relative;
    padding: 10px;
}

header > h1, header > p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--cor4);
}

header > h1 {
    min-width: 400px;
    font-family: var(--font-destaque);
}

header > p {
    margin-top: 60px;
    max-width: 500px;
    min-width: 300px;
}

.block1 {
    background-color: var(--cor5);
    font-size: 13px;
    margin: auto;
    height: 400px;
    padding: 30px;
    position: relative;
}

.block1 > h2, .block1 > p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.block1 > h2 {
    text-align: center;
    color: var(--cor1);
    font-size: 2em;
    font-family: var(--font-destaque);
    margin-top: 20px;
    top: 20%;
    font-size: 30px;
}

.block1 > p {
    text-align: center;
    color: var(--cor1);
    font-size: 1.5em;
    font-family: var(--font-padrão);
    font-weight: bold;
    transform: translate(-50%, -40%);
    max-width: 800px;
    min-width: 400px;
}

.block2 {
    background-color: var(--cor3);
    text-align: center;
    height: 1330px;
    padding: 30px;
}

.block2 > h2,  .block2 > p {
    margin-bottom: 80px;
    color: var(--cor4);
}

.block2 > h2 {
    font-family: var(--font-destaque);
    font-size: 30px;
    color: var(--cor1);
}

.block2 > p {
    text-align: center;
} 

.infos {
    text-align: center;
    color: var(--cor1);
    padding: 20px;
}

.geral1, .geral2 {
    display: block;
    margin: auto;
}

.geral1 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.geral2 {
    margin-top: 100px;
}

.block3 {
    background-color: var(--cor1);
    text-align: center;
    color: var(--cor4);
    margin-top: 150px;
    padding: 20px;
}

.block3 > h3, .block3 > p {
    margin-bottom: 20px;
}

.block3 > h3 {
    font-size: 30px;
    font-family: var(--font-destaque);
}

.block3 > p {
    font-size: 20px;
}

.paragrafo2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.numero {
    text-decoration: underline;
}

aside {
    color: var(--cor1);
    text-align: justify;
}

aside > h3, aside p, aside li {
    margin-bottom: 20px;
}

aside > h3 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

aside li {
    font-size: 24px;
    text-align: center;
}

aside p {
    text-align: center;
}

.ultimo {
    font-size: 20px;
    color: var(--cor3);
}

footer {
    color: white;
    background-color: var(--cor1);
    text-align: center;
}